---
layout: default
---

<article class="post">
  <p><a href="{{site.url}}">Главная</a> » {{ page.title }}</p>
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Написано {{ page.date | date: "%B %e, %Y" }}
  </div>
  
</article>

  <style>
  .post{
      display: block;
    color: #131313;
    margin-left: 10vw;
    width: 80vw;
}
.wrapper-masthead {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    margin-bottom: 50px;
}
.container {
    background-color: #FDFEC1;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0 10px;
    width: 100%;
}
</style>
